@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 42, 42);
  color: white;
  font-family: 'Poppins';
}

.container {
  width: 80vw;

  display: flex;
  gap: 10px;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}
textarea {
  width: 100%;
  min-height: 300px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  font-size: 17px;
}
.left {
  flex-grow: 1;
}
.right {
  flex-grow: 1;
}
button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 600;
}
.select {
  color: black;
}

.disabled-text {
  background-color: rgb(227, 227, 227);
  color: black;
}
.loading {
  background-image: url('./images/loading.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}